h1{
  color: white;
  text-align: center;
}
#table{
  margin-left: auto;
  margin-right: auto;
}
body {
    background-image: url("Marvel.jpg");
    background-size: cover;
}
h3{
  color: white;
}
#header {
    color: white;
    font-family: 'Bungee Inline';
    font-size: 45px;
    margin: auto;
}

.movement {
    border-radius: 20px;
    height: 60px;
    width: 170px;
    font-family: "Creepster";
    font-size: 25px;
    text-decoration: underline;
    background-color: grey;
}

#mClass {
    text-align: center;
    margin: auto;
}

#image {
    height: 200px;
    position: absolute;
}
button {
  background-color: gray;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: auto;
}
.container {
  height: 200px;
  position: relative;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
#hello{
  height: 200px;
  width: 200px;
}